    /*
    Flaticon icon font: Flaticon
    Creation date: 09/10/2018 04:57
    */

    @font-face {
  font-family: "Flaticon";
  src: url("/assets/fonts/Flaticon.eot");
  src: url("/assets/fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("/assets/fonts/Flaticon.woff") format("woff"),
       url("/assets/fonts/Flaticon.ttf") format("truetype"),
       url("/assets/fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("/assets/fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

.flaticon-split-browser:before { content: "\f100"; }
.flaticon-split-browser-1:before { content: "\f101"; }
.flaticon-forbidden-mark:before { content: "\f102"; }
.flaticon-fullscreen:before { content: "\f103"; }
.flaticon-signal:before { content: "\f104"; }
.flaticon-high-signal-indicator:before { content: "\f105"; }
.flaticon-cell-phone-high-signal-indicator:before { content: "\f106"; }
.flaticon-battery:before { content: "\f107"; }
.flaticon-battery-1:before { content: "\f108"; }
.flaticon-battery-2:before { content: "\f109"; }
.flaticon-battery-3:before { content: "\f10a"; }
.flaticon-menu:before { content: "\f10b"; }
.flaticon-arrow-point-to-right:before { content: "\f10c"; }
.flaticon-arrowhead-thin-outline-to-the-left:before { content: "\f10d"; }
.flaticon-gear-option:before { content: "\f10e"; }
.flaticon-home-page:before { content: "\f10f"; }
    
    $font-Flaticon-split-browser: "\f100";
    $font-Flaticon-split-browser-1: "\f101";
    $font-Flaticon-forbidden-mark: "\f102";
    $font-Flaticon-fullscreen: "\f103";
    $font-Flaticon-signal: "\f104";
    $font-Flaticon-high-signal-indicator: "\f105";
    $font-Flaticon-cell-phone-high-signal-indicator: "\f106";
    $font-Flaticon-battery: "\f107";
    $font-Flaticon-battery-1: "\f108";
    $font-Flaticon-battery-2: "\f109";
    $font-Flaticon-battery-3: "\f10a";
    $font-Flaticon-menu: "\f10b";
    $font-Flaticon-arrow-point-to-right: "\f10c";
    $font-Flaticon-arrowhead-thin-outline-to-the-left: "\f10d";
    $font-Flaticon-gear-option: "\f10e";
    $font-Flaticon-home-page: "\f10f";