// Import Bootstrap Compass integration
@import "bootstrap-compass";

// Import custom Bootstrap variables
@import "bootstrap-variables";

// Import Bootstrap for Sass
//custom version to cut down modules
@import 'bootstrap-custom';

@import 'flaticon';


/*
==================================
    Table of Contents
==================================

    0. Global Style
    1. Navbar & Header Banner
        1.1 Header Banner
    2. Content Containers
    3. Helper Classes
    4. Components
        4.1 ModuleContainer
        4.2 Browser
        4.3 ThreeD
        4.4 ModuleOptions
        4.5 EEG Chart
        4.6 Sensors
        4.7 Brainwave Game
        4.8 Barchart
        4.9 Status
        4.10 HelpWindow
*/


/*
==================================
0. Global Style
==================================
*/
body, html
{
    // Body won't expand if the page gets bigger
    overflow: hidden;
    max-width: 100%;
}
body,
html,
#root,
.App
{
    height: 100%;
}
#maincontent
{
    height: calc(100% - 50px)
}

input[type="button"], .btn, button
{
    &:focus
    {
        outline: 0 !important;
    }
    &::-moz-focus-inner
    {
        border: 0
    }
}

/*
==================================
1. Navbar & Header Banner
==================================
*/

.navbar-brand img
{
    position: relative;
    top: 2px;
    max-height: 28px;
}

/* W3C */
#skiptocontent {
  height: 1px;
  width: 1px;
  position: absolute;
  overflow: hidden;
  top: -10px;
}

.navbar-brand
{
    padding: 11px 15px;
}
.brand_space
{
    font-size: 10%;
}

/* Navbar tabs*/
.navbar-nav > li {
    a {
        &:after {
            content: '';
            background-color: lighten($navbar-default-bg, 20%);
            position: absolute;
            height: 2px;
            width: 0px;
            display: block;
            margin: 0 auto;
            margin-top: 3px;
            -webkit-transition: all .2s ease-out;
            transition: width .2s ease-out;
            z-index: 1;
        }
    }

    &:hover {
        a:after {
            width: 60%;
        }
        &:after {
            bottom: -20%
        }
    }
}

.navbar-default
{
    border: none;
    margin-bottom: 0;
}
.navbar-default .alert-danger
{
    position: relative;
    top: -6px;
    padding: 6px 15px;
    margin-bottom: 0;
    color: #a94442;
}
.navbar-collapse
{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
}
.navbar-collapse.in
{
    top: 50px;
    left: 0;
    right: 0;
    max-height: 500px;
    z-index: 1001;
    background-color: $brand-primary;
    box-shadow: none;
    li
    {
        a
        {
            //color: black;
            border-bottom: 1px solid lighten($brand-primary, 20);
            box-shadow: 0 -1px lighten($brand-primary, 20);
        }
        &.statusIcon
        {
            display: inline-block;
        }
    }
    .navbar-nav
    {
        margin: 0;
    }
}
/*
==================================
2. Content Containers
==================================
*/

.white_bg 
{
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    text-overflow: ellipsis;
}
.modal 
{
    position: absolute;
    .modal-dialog
    {
        top: 50%;
        .modal-content
        {
            transform: translateY(-50%);
        }
    }
}



/* 
==================================
3. Helper Classes
==================================
*/

.projectorZoom
{
    font-size: 130%;
}
.flaticon-forbidden-mark
{
    font-size: 90%;
}
button.spin:hover
{
    .fi:before
    {
        animation: spin 4s infinite linear
    }
}
button.pulse:hover
{
    .fi:before
    {
        animation: pulse 0.5s infinite ease-in-out
    }
    
}

.App.noHeadset .headsetOnly
{
    display: none !important;
}

.App.headset .noHeadsetOnly
{
    display: none;
}


@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@keyframes pulse {
    from {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(1.1, 1.1);
    }
    to {
        transform: scale(1, 1);
    }
}

/* Pretty page break */
.wa_page_break
{
    margin: 75px 0;
    height: 1px;
    
    &:after
    {
        content: "";
        height: 2px;
        background-color: #999;
        border-bottom: 1px solid white;
        width: 96vw;
        position: absolute;
        left: 2vw;
    }
}

a.wa_anchor {
    display: block;
    position: relative;
    top: -100px;
    visibility: hidden;
}

a.expandy {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
}

/* 
==================================
4. Components
==================================
*/
    /* 
    ==============================
    4.1 ModuleContainer
    ==============================
    */

    // Most of the layout will be handled in js
    .moduleColumn
    {
        position: relative;
        float: left;
        transition: width 0.25s ease-in-out;

    }
    .ModuleContainer
    {
        .moduleTopbar
        {
            position: relative;
            padding:  0 25px;
            height: 50px;
            overflow: hidden;
            background-color: white;
            line-height: 50px;
            border-bottom: 1px solid #e5e5e5;
            white-space: nowrap;

            .buttonHspace
            {
                padding: 10px;
            }
            .moduleButtons
            {
                opacity: 1;
                transition: opacity 0.5s ease-in;
                transition-delay: 1s;
                position: absolute;
                right: 25px;
                top: 50%;
                transform: translateY(-50%);

                button
                {
                    margin: 2px;
                    width: 35px;
                    height: 35px;
                    padding: 0;
                    line-height: 37px;
                    background-color: rgba(255,255,255,0);
                    color: #999;
                    border: none;
                    border-radius: 50%;
                    transition: opacity .25s ease-in-out, background-color .35s cubic-bezier(0.4,0.0,0.2,1), color .15s cubic-bezier(0.4,0.0,0.2,1);;
                    font-size: 90%;

                    &:hover
                    {
                        background-color: rgb(238, 238, 238);
                        color: #333;
                    }
                    &:disabled
                    {
                        opacity: 0.25;
                        &:hover
                        {
                            background-color: rgba(255,255,255,0);
                            color: #999;
                        }
                    }
                }
            }
            h4
            {
                position: relative;
                display: inline-block;
                font-size: 120%;
                line-height: 30px;
                background-color: white;
                margin-left: -25px;
                padding-left: 25px;
                z-index: 1;
            }
            &:hover
            {
                .moduleButtons
                {
                    opacity: 1;
                    transition: opacity 0.15s ease-out;
                }
                
            }
        }
        .moduleBody
        {
            overflow-x: hidden;
            overflow-y: auto;
            max-height: calc(100% - 50px);
            height: 100%;
            min-width: 320px;

            .moduleHeightStretch
            {
                max-height: 100%;
            }
        }
        .moduleInner
        {
            transition: height 0.25s ease-in-out;
            position: relative;
            z-index: 100;
            min-height:50px;
            max-height: calc(100% - 50px);
        }
    }
    // If ModuleResize if moving disable transition width
    .Flexspace.dragging .moduleInner,
    .Flexspace.dragging .moduleColumn
    {
        transition: none;
    }
    .flexspace_row
    {
        position: relative;
    }
    .moduleAdd
    {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: 30px;
        z-index: 999;
        background-color: $brand-primary;
        opacity: 0;
        transition: opacity 0.25s;
        span {
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            text-align: center;
            font-weight: bold;
            font-size: 30px;
            line-height: 30px;
            margin-top: -15px;
            color: white;
        }
        &:hover
        {
            opacity: 0.5;
        }
    }

    .ModuleResize
    {
        position: relative;
        &.vertical
        {
            height: 100%;
            float: left;
            .moduleResizeInner
            {
                height: 40px;
                width: 16px;
                left: -8px;
                top: 50%;
                transform: translateY(-50%);
                cursor: col-resize;

                .fi
                {
                    transform: rotate(90deg) scale(1.25, 1) translate(75%, -6%);
                }
            }
        }
        &.horizontal
        {
            width: 100%;
            height: 0;
            .moduleResizeInner
            {
                height: 16px;
                width: 40px;
                top: -8px;
                left: 50%;
                transform: translateX(-50%);
                cursor: row-resize;

                .fi
                {
                    transform: scale(1.25, 1) translate(90%, -1%) ;
                }
            }
        }
        
        .moduleResizeInner
        {
            position: absolute;
            z-index: 102;
            box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
            background-color: white;
            border-radius: 2px;
            transition: opacity 0.25s;
            font-size: 12px;
            
            &:hover, &.moving
            {
                opacity: 1;
            }

            .fi
            {
                display: inline-block;
                color: #333;
            }

            &:after
            {
                content:"";
                position: absolute;
                left: -25%;
                top: -25%;
                height: 150%;
                width: 150%;
            }
        }            
    }
    .App.projectorZoom .moduleResizeInner
    {
        transform: scale(1.25, 1.25);
    }


    .ModuleContainer.xs 
    {
        .ModuleIcon{
            width: 100%;

            .imgContainer
            {
                max-height: 100px;
            }
            img {
                transform: translateY(-25%);
            }
            .moduleIconTitle
            {
                position: relative;
                h3
                {
                    margin: 0;
                }
                p {
                    display: none;
                }
                background-color: white;
                z-index: 1;
            }
        }
    }
    .ModuleContainer.min
    {
        .moduleTitle{
            position: static;
            color: #555;
            margin-left: 15px;
        }
        .moduleBody{
            opacity: 0.75;
        }
        .moduleButtons{
            right: 0;
            left: 0;
            .btn
            {
                display: none;
            }
            .btn.closeButton
            {
                position: absolute;
                display: block !important;
                left: 5px;
                top: 5px;
                z-index: 10;
                color: $brand-danger;
                animation: pulse 0.5s infinite ease-in-out;
            }
        }
        
    }
    .fullscreenOnly
    {
        display: none;
    }
    .ModuleContainer.fullscreen
    {
        position: fixed;
        left: 0;
        top:0;
        bottom: 0;
        width: 100% !important;
        padding: 0;
        z-index: 9999;

        .moduleHeightStretch
        {
            height: 100% !important;
            max-height: 100vh;
        }
        .fullscreenOnly
        {
            display: initial;
        }
    }

    .fullscreenClose
    {
        position: absolute;
        top: 10px;
        right: 10px;
        padding: 10px;
        font-size: 200%;
        background-color: $brand-primary;
        text-decoration: none;
        border-radius: 25%;
        border-top-right-radius: 0;
        opacity: 0.5;
        color: white;
        z-index: 10000;
        transition: opacity 0.15s ease-in-out;
        &:hover, &:focus
        {
            text-decoration: none;
            opacity: 1;
            color: white;
        };

    }
    .toolbarHelper
    {
        position: absolute;
        top: 45px;
        right: 0;
        background-color: $brand-primary;
        color: white;
        padding: 5px 10px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
        pointer-events: none;
        border-radius: 5px;
        animation-fill-mode: both;
        animation-duration: 3s;
        animation-name: fadey;

        &:after
        {
            content:"";
            position: absolute;
            top: -10px;
            right: 0;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 10px 10px 10px;
            border-color: transparent transparent $brand-primary transparent;
        }
    }
    .closeHelper
    {
        right: 20px;
        &:after
        {
            right: 13px;
        }
    }
    .fullscreenHelper
    {
        right: 78px;
        &:after
        {
            right: 34px;
        }
    }
    @keyframes fadey {
        from {
          opacity: 0;
        }
        15%
        {
            opacity: 1;
        }
        85%
        {
            opacity: 1;
        }
        to {
          opacity: 0;
        }
      }
    
    /* 
    ==============================
    4.2 Browser
    ==============================
    */

    .Browser
    {
        padding: 15px;
        display: flex;
        flex-wrap: wrap;
    }
    .ModuleIcon
    {
        display: flex;
        margin: 15px;
        width: 20%;
        width: calc(20% - 30px);
        min-width: 240px;
        user-select: none;

        &.light  {
            .moduleIconInner .imgContainer:after
            {
                box-shadow: inset 0 0 0 3px hsla(0,0%,0%,.05);
            }
        }
        
    }

    .moduleIconInner
    {
        width: 100%;
        position: relative;
        overflow: hidden;
        border-radius: 3px;
        box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);    
        display: flex;
        flex-direction: column;

        .imgContainer
        {
            position: relative;
            &:after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                box-shadow: inset 0 0 0 3px hsla(0,0%,100%,.15);
                transition: box-shadow .2s ease-out,background-color .2s ease-out;
                z-index: 1;
            }
        }
        img
        {
            width: 100%;
            opacity: 1;
        }
        .moduleIconTitle
        {
            color: #222;
            bottom: 0;
            left: 0;
            right: 0;
            padding: 10px;
            h3
            {
                margin: 5px 0 10px;
                font-size: 125%;
            }
            p {
                color: #666;
                flex: 1 0 auto;
            }
        }
        
        &:hover{

            .moduleIconTitle h3:after{
                width: 85px;
            }
            .imgContainer:after
            {
                box-shadow: 0 0 0 5px $brand-primary inset !important;
                
            }
        }
    }


    /* 
    ==============================
    4.3 ThreeD
    ==============================
    */
    .ThreeD
    {
        font-size: 0;
    }
    .renderCanvas {
        width   : 100%;
        height  : 100%;
        max-height: 100%;
        touch-action: none;
    }

    .fpsLabel {
        position: absolute;
        font-size: initial;
        left: 10px;
        top: 60px;
        cursor: default;
        color: white;
    }
    .effectTexture
    {
        position: absolute;
        top: 0;
        left:0;
        max-height: 512px;
        margin: 40px 40px;
        box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
        background-color: white;
        padding: 10px;
    }

    /* 
    ==============================
    4.4 ModuleOptions
    ==============================
    */
    .fullscreen .ModuleOptions
    {
        top: 60px;
    }
    .ModuleOptions
    {
        overflow: hidden;
        position: absolute;
        top: 0;
        bottom: 0;
        right:  0;
        background-color: #fff;
        border-radius: 2px;
        text-shadow: 0 1px white;
        color: #333;
        //margin: 10px;
        box-shadow: 4px 4px 20px rgba(0,0,0,0.4);
        width: 320px;
        max-width: 100%;
        max-width: calc(100% - 10px);
        z-index: 10;
        opacity: 1;
        white-space: nowrap;
        transition: right 0.5s ease-out,
                opacity 0.25s ease-out;
        .moHeader
        {
            h2
            {
                margin: 0;
                font-size: 150%;
                line-height: 50px;
                padding: 0 15px;
            }
            border-bottom: 1px solid #e1e1e1;
            box-shadow: 0 1px white;
        }
        .moBody
        {
            position: relative;
            padding: 15px;
            padding-top: 0;
            width: 100%;
            overflow-y: auto;
            overflow-x: hidden;
            height: calc(100% - 50px);
        }
        .moFlair
        {
            position: absolute;
            right: 7px;
            top: 50%;
            transform: translate(0, -50%);
        }
        .moSubMenu
        {
            position: absolute;
            background-color: white;
            left: 0;
            top: 0;
            bottom: 0;
            width: 100%;
            overflow-y: auto;
            padding: 0 15px;
            transition: left 0.25s ease-in-out;
            z-index: 100;

            &.moHidden
            {
               left: 100%;
            }

            .moSubBack
            {
                margin: 0 -15px;
                margin-bottom: -1px;
                padding: 20px 10px;
                padding-bottom: 10px;
                h4
                {
                    font-weight: bold;
                    .fi
                    {
                        font-size: 85%;
                        margin-right: 5px;
                    }
                }
            }
        }
        h3 
        {
            font-size: 150%;
            
            &+ .moText
            {
                margin-top: -7px;
                margin-bottom: 7px;
            }
        }
        hr
        {
            border-top: 1px solid #e1e1e1;
            box-shadow: 0 -1px white;
        }
        .moText
        {
            font-size: 90%;
            color: #999;
            white-space: normal;
            word-break: break-word;
        }
        &.moClose 
        {
            right: -400px;
            opacity: 0;
            z-index: -1;
            transition: right 0.25s ease-in,
                        z-index 0.25s ease-in,
                        opacity 0.5s ease-in;
        }
        button.close {
            -webkit-appearance: none;
            cursor: pointer;
            background: 0 0;
            border: 0;
            position: absolute;
            top: 0;
            right: 0;
            font-size: 150%;
            line-height: 0;
            padding: 25px 15px;
            
            &:focus, &:hover
            {
                color: #000;
                text-decoration: none;
                cursor: pointer;
                filter: alpha(opacity=50);
                opacity: .5;
            }
        }
        form {
            input[type='checkbox'],
            input[type='range'],
            .checkboxLabel
            {
                user-select: none;
                cursor: pointer
            }
            .btn
            {
                margin: 5px 2px;
            }
            .btn-group
            {
                .btn
                {
                    margin-left: 0;
                    margin-right: 0;
                }
            }
            p
            {
                margin-top: 10px;
                margin-bottom: 0;
            }            
        }
        .moSection
        {
            border-top: 1px solid #e1e1e1;
            border-bottom: 1px solid #e1e1e1;
            box-shadow: 0 -1px white, 0 1px white;
            background-color: white;
            padding: 12px 0;
            position: relative;
            
            label
            {
                font-weight: normal;
                font-size: 90%;
                color: #999;
                margin: 0;
                width: 100%;
                white-space: pre-wrap;
            }
            h4
            {
                margin: 0;
                margin-bottom: 5px;
                font-size: 125%;
                color: #333;
            }
            input[type='checkbox']
            {
                position: absolute;
                right: 0;
                top: 50%;
                transform: scale(1.2) translate(-50%, -6px);
                margin: 0;
            }
            input[type='range']
            {
                transform: translate(-0, 6px);
            }
            &:first-of-type
            {
                border-top: 0
            }
        }

        .moSection2
        {
            border-top: 1px solid #e1e1e1;
            border-bottom: 1px solid #e1e1e1;
            box-shadow: 0 -1px white, 0 1px white;
            background-color: white;
            padding: 10px 0;
            position: relative;
            
            label
            {
                font-weight: normal;
                font-size: 90%;
                color: #999;
                margin: 0;
                width: 100%;
            }
            h4
            {
                margin: 0;
                margin-bottom: 0px;
                font-size: 125%;
                color: #333;
                white-space: normal;
                word-break: break-word;
            }
        }

    }

    .moduleOptionsOpenBtn
    {
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 15px;
        margin: 20px;
        line-height: 0;
        border-radius: 50%;
        font-size: 20px;
        box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
        opacity: 1;
        transition: right 0.25s ease-in,
                    z-index 0.25s ease-in,
                    opacity 0.5s ease-in;
        &.moOpen
        {
            right: -300px;
            opacity: 0;
            z-index: -1;
        }
    }




    /*
    ==============================
    4.5 EEG Chart
    ==============================
    */
    .chartBordersEEG
    {
        max-width: 95%;
        border: 2px solid black;
        margin: 7px 6px 7px 6px;
        vertical-align: top;
    }

    .no_select
    {   
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }


    /*
    ==============================
    4.6 Sensors
    ==============================
    */


    //ConnectivityDisplay
    .cdHead
    {
        width: 250px;
        height: 284px;
        background-image: url('/assets/img/sensor_bg.png');
        background-size: cover;
        position: relative;
    }
    .cdSensorContainer
    {
        position: absolute;
        width: 100px;
    }
    .cd-AF3
    {
        left: 24.25%;
        top: 16.25%
    }
    .cd-AF4
    {
        left: 67.25%;
        top: 16.25%
    }
    .cd-F7
    {
        left: 9.5%;
        top: 29.5%
    }
    .cd-F8
    {
        left: 81.5%;
        top: 29.5%
    }
    .cd-F3
    {
        left: 34.2%;
        top: 27.8%
    }
    .cd-F4
    {
        left: 56.75%;
        top: 28.25%
    }
    .cd-FC5
    {
        left: 18.75%;
        top: 38.25%
    }
    .cd-FC6
    {
        left: 72.1%;
        top: 38%
    }
    .cd-CMS
    {
        left: 9.5%;
        top: 62%;
        
        .cdLabel
        {
            font-size: 8px;
        }
    }
    .cd-DRL
    {
        left: 82%;
        top: 62%;
        .cdLabel
        {
            font-size: 8px;
        }
        
    }
    .cd-T7
    {
        left: 4.4%;
        top: 49.5%
    }
    .cd-P7
    {
        left: 19%;
        top: 76.5%
    }
    .cd-P8
    {
        left: 72.5%;
        top: 76%
    }
    .cd-O1
    {
        left: 33.25%;
        top: 89.5%
    }
    .cd-O2
    {
        left: 58.25%;
        top: 89.5%
    }
    .cd-T8
    {
        left: 86.75%;
        top: 49.5%
    }

    .cdSensor
    {
        position: relative;
        background-color: white;
        width: 28px;
        height: 28px;
        margin: -4px;
        border-radius: 50%;
        border: 5px solid rgba(254,254,254,0.5);
    }
    .cdLabel
    {
        position: absolute;
        left: 50%;
        top: 50%;
        font-size: 11px;
        text-align: center;
        padding: 3px;
        transform: translate(-50%, -50%);
        text-shadow: 1px 1px rgba(254,254,254, 0.2);
    }
    .cdSensor.No_Signal
    {
        background-color: #D5001C;
    }

    .cdSensor.Very_Bad
    {
        background-color: #FF9C32;
    }
    .cdSensor.Poor
    {
        background-color: #FBD63D;
    }
    .cdSensor.Fair
    {
        background-color: #b1ce47;
    }
    .cdSensor.Good
    {
        background-color: #97CE47;
    }

    /*
    ==============================
    4.7 Brainwave Game
    ==============================
    */
    .mobileBanner{
        max-width: 100%;
        width: 100%;
        top: 10%;
        height: 100%;
        position: absolute;

    }
    .mobileStartButton{
        position: absolute;
        width: 50%;
        height: 10%;
        top: 80%;
    }
    .mobileResetButton{
        position: absolute;
        width: 50%;
        left: 50%;
        height: 10%;
        top: 80%;
    }
    .mobileTime{
        position: absolute;
        left: 60%;
        top: 3%
    }.mobileDirectionText{
        position: absolute;
        top: 3%;
        left: 3%;
    }
    .mobileGame{
        max-width: 100%;
        top: 20%;
        height:70%;
        position: absolute;
    }
    .startButton{
        position: absolute;
        left: 3%;
        top: 3%;
        width: 60%;
    }
    .resetButton{
        position: absolute;
        left: 66%;
        top: 3%;
    }
    .time{
        position: absolute;
        font-size:170%;
        left: 3%;
        top: 32%;
    }
    .description{
        position: absolute;
        left: 3%;
        top: 60%;
    }
    .directionText{
        position: absolute;
        font-size:130%;
        left: 3%;
        top: 115%;
    }
    .arrow {
        position: absolute; 
        left: 20%;
        top: 140%;
    }
    .gameBanner {
        border: 1px solid black;
        position: absolute; 
        top: 60px;
        width: 200px;
        height: 200px;
    }
    .centre{
        position: absolute; 
        top: 60px;
    }
    .layer1{
        z-index: 0;
    }
    .layer2{
        z-index: 1;
    }
    .layer3{
        z-index: 2;
    }

    /*
    ==============================
    4.8 Barchart
    ==============================
    */
    #BAR_CHART {
        width: 80%;
        height: 80%;
        margin: 0 auto;
    }

    #warningText {
        text-align: left;
        font-size: 15px;
        color: red;
        padding-left: 25px;
        display: none;
    }

    /*
    ==============================
    4.9 Status
    ==============================
    */
    .Status 
    {
        padding: 15px;
    }
    .statusSection
    {
        padding: 12px;
        border: 1px solid #e1e1e1;
        border-width: 0 0 1px 0;
    }
    .statusSection:first-of-type
    {
        border-width: 1px 0 1px 0;
    }
    .statusTitle
    {
        font-size: 110%;
        font-weight: bold;
    }
    .statusResult
    {
        display: block;
        color: #888;
    }
    .ModuleContainer.xs .Status .col-sm-6
    {
        width: 100%;
    }
    .statusIcon
    {
        line-height: 50px;
        padding: 0 10px;
        font-size: 100%;
        color: #fff;
        opacity: 0.9;;
    }

    /*
    ==============================
    4.10 HelpWindow
    ==============================
    */
    .HelpWindow
    {
        width: 100%;
        height: 100%;
        background-color: #f1f1f1;
        overflow: hidden;
        iframe
        {
            width: 100%;
            height: 100%;
            border: none;
        }
        
        .close
        {
            position: absolute;
            top: 0;
            right: 15px;;
            padding: 15px;
            font-size: 30px;
            color: $brand-danger;
        }
        .shortHeader
        {
            background: white;
            color: #333;
            padding: 0;
            cursor: pointer;
            border-bottom: 1px solid #ccc;
            
            h2
            {
                font-weight: normal;
                margin: 0;
                font-size: 25px;
                line-height: 50px;
                color: #000;
                text-transform: capitalize;
            }
            .fi{
                position: relative;
                font-size: 85%;
                width: 0;
                margin-right: 10px;
                top: -1px;
            }
        }
        .repoButton
        {
            padding: 10px;
            margin-bottom: 20px;
            img 
            {
                max-width: 200px;
                display: block;
                margin-bottom: 5px;
            }
        }
        
    }
    .helpWindowBody {
        padding: 15px 25px;
        padding-top: 25px;
        height: 100%;
        height: calc(100% - 50px);
        overflow-y: auto;
        background-color: #f1f1f1;
        
        .fi
        {
            font-size: 125%;
            background-color: white;
            border-radius: 50%;
            padding: 5px;
            margin-right: 5px;        
        }

        .toc
        {
            padding: 15px;
            display: inline-block;
            h3 {
                margin: 0;
                margin-bottom: 10px;
            }
            a {
                display: block;
                padding: 2px;
            }
            margin-left: 20px;
            margin-bottom: 20px;
        }
        div:target
        {
            background-color: rgba(255,255,0,0.05);
            h2
            {
                text-decoration: underline;
            }
        }
   
    }

    /*
    ==============================
    4.11 Bar chart 2
    ==============================
    */
    .bar2
    {
        height: 100%;
        overflow: hidden;
    }
    .barChart2 {
        display: block;
        padding: 20px;
        height: 100%;
        max-height: 100%;
        max-width: 100%;       
        margin: 0 auto;
    }
    .App.desktop
    {
        .barChart2 {
            min-width: 320px;
            min-height: 300px;
        }
    }

    /*
    ==============================
    5 Media Queries
    ==============================
    */
    @media only screen and (max-width : 480px) {
        body,
        html
        {
            max-height: none;
            overflow-y: auto;
        }
        .ModuleContainer 
        {
            .moduleInner
            {
                max-height: none;
                height: auto !important;
            }
            .moduleBody
            {
                max-height: none;
                overflow: hidden;
                height: auto;
            }
            
        }
        .pull-right{
            float: none !important;
        }
        .Browser
        {
            padding: 5px 0;
        }
        .navbar-collapse
        {
            position: absolute;
        }
        .ModuleIcon{

            width: 100%;
            margin-bottom: 0;
            .imgContainer
            {
                max-height: 100px;
            }
            img {
                transform: translateY(-30%);
            }
            .moduleIconTitle
            {
                position: relative;
                h3
                {
                    font-size: 100%;
                    margin: 0;
                }
                p {
                    display: none;
                }
                background-color: white;
                z-index: 1;
            }
        }
    }
    @media only screen and (max-height: 480px){
        body,html
        {
            overflow: auto;
            height: auto;
        }
        .App.mobile.landscape
        {
            .moduleInner
            {
                height: auto !important;
            }
            .moduleBody
            {
                max-height: 100%;
            }
            .navbar-collapse
            {
                position: absolute;
            }
            .navbar
            {
                width: 50%;
                .collapse
                {
                    display: none !important;
                    width: 200%;
                    width: calc(200% + 15px);
                    &.in
                    {
                        display: block !important;
                    }

                }
                .navbar-header
                {
                    float: none;
                }
                .navbar-toggle
                {
                    display: inline-block !important;
                }
                
            }
            .moduleTopbar
            {
                position: absolute;
                top: -50px;
                right: 0;
                width: 50%;
            }
            .ModuleOptions
            {
                top: 0;
            }
            .ModuleIcon{
                width: 50%;
                width: calc(50% - 30px);
            }
        }
    }